* {
 font-family: Poppins;

}

header {
    height: 81px;
    background-color: #ce0505;
    position: relative;
}

.logoBg {
    background-color: #fbfbfb;
    border-radius: 50%;
    padding: 16px 21px;
    position: absolute;
    top: 12px;
    left: 81px;

    
}
.logoText {
    color: #ce0505;
    font-size: 33px;
    font-weight: 600;
    text-decoration: none;
}

.log-signIn {
    position: absolute;
    right: 81px;
    top: 24px;
    
}

.logIn {
    color: white;
    text-decoration: none;
}

.creatAcc {
    color: white;
    text-decoration: none;
    border:1px solid white;
    padding: 10px 10px;
    margin-left: 10px;
}

section {
    position: relative;
    padding: 21px 51px;
}

.heading {
    font-size: 36px;
    font-weight: 600;
    color: #192f60;
    margin-bottom: 20px;
}

aside {
    height: 682px;
    width: 260px;
    background-color: #ffffff;    
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.24);
}

.item1 {
    background-color: #ffffff;    
    height: 291px;
    width: 794px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 100px;
    left: 350px;
}

.item2 {
    height: 291px;
    width: 794px;
    background-color: #ffffff;    
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 400px;
    left: 350px;
}

.pageNo {
    position: absolute;
    bottom: 21px;    
    left: 51%;
}